@import "functions";

.fade-in {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
  animation-name: fade-in;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1.2s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in:hover {
  opacity: 1;
  transition: none;
}

.shrink-on-hover {
  transform: perspective(rem(1px)) translateZ(0);
  box-shadow: 0 0 rem(1px) rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.shrink-on-hover:hover,
.shrink-on-hover:focus,
.shrink-on-hover:active {
  transform: scale(0.9);
}
