@media screen and (max-width: 767px) {
  .content {
    margin: 2vw 5vw 5vw 5vw;
  }

  body {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 4.5rem;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 3.25rem;
  }

  .main-nav li {
    font-size: 1rem;
    margin-right: 1rem;
  }

  .main-wrapper {
    padding: 3.25rem 1rem 3.25rem 1rem;
  }

  .about-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: top;
    gap: 1.5rem;
  }

  .work-grid {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-radius: 0.625rem;
    margin: 2rem;
    margin-top: 0rem;
  }
  
  .project-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-decoration: none;
    text-align: center;
    opacity: 100;
  }

  .project-desc {
    font-size: 0.75rem;
  }
}
